@model IEnumerable<DeluxeModel.product>

@{
    ViewBag.Title = "GetProducts";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}


<div class="container">
    <div class="text-center">
        <h1>Products List</h1>
    </div>
    @foreach(var item in Model)
    {
        <img src="~/App_File/Images/@item.prd_img" />
    }
</div>