@model IEnumerable<DeluxeModel.product>
@{
    ViewBag.Title = "shoppingcartitem";
    Layout = null;
}



<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart items</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/shopping-cart.css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <main class="page">
        <section class="shopping-cart dark">
            <div class="container">
                <div class="block-heading">
                    Shopping Cart item
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12 col-lg-8">
                            @foreach (var item in Model)
                            {
                                <div class="items">
                                    <div class="product">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <img class="img-fluid mx-auto d-block image" src="~/App_File/Images/@item.prd_img">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="info">
                                                    <div class="row">
                                                        <div class="col-md-5 product-name">
                                                            <div class="product-name">
                                                                <a href="#">@item.prd_name</a>
                                                                <div class="product-info">
                                                                    <div>Display: <span class="value">5 inch</span></div>
                                                                    <div>RAM: <span class="value">4GB</span></div>
                                                                    <div>Memory: <span class="value">32GB</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 quantity">
                                                            <label for="quantity">Quantity:</label>
                                                            <select class="form-control quantity-input" id="selectqty">
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-3 price">
                                                            <span>$ @item.price</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                </div>
                            }
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="summary">
                                <h3>Summary</h3>


                                <div class="summary-item"><span class="text">Shipping</span><span class="price">Free Shipping</span></div>
                                <div class="summary-item"><span class="text">Total</span><span class="price">$ @ViewBag.TotalSum</span></div>
                                <div class="summary-item">
                                    <span class="text">Payment</span><span class="price">PayPal <input type="checkbox" value="PayPal" id="paypalcheck" class="cccc"/></span>
                                    <br />
                                    <span class="price">Cash <input type="checkbox" value="Cash" id="cashcheck" class="cccc" /></span>

                                </div>
                                <button type="button" class="btn btn-primary btn-lg btn-block" id="checkout">Checkout</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.1.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('input:checkbox').click(function () {
                $('input:checkbox').not(this).prop('checked', false);
            });

            var payment_type = $('#cashcheck').val();
            var finaldata = { "payment_type": payment_type };


            $("#checkout").click(function () {
                
                 $.ajax({
                    url: '@Url.Action("SaveOrder","UserActions","user")',
                     type: "POST",
                     data: JSON.stringify(finaldata),
                    dataType: "json",
                    contentType: "application/json",
                    success: function (response) {
                        alert(response);


                    },
                    error: function (e) {
                        alert("an error has occured", e);
                    }



                });




        });




        });
    </script>




</body>


</html>









