@model IEnumerable<DeluxeModel.Category>
@{
    ViewBag.Title = "ManageCategory";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div>
        <table class="table table-striped" id="prdtble">

            <tr>
                <th scope="col">Category Name</th>

                <th scope="col">Action</th>

            </tr>



            @foreach (var item in Model)
            {
                <tr>
                    <td hidden>@item.ID</td>
                    <td>@item.Category_name</td>

                    <td><a class="details" href="javascript:;">Update</a>|| <a class="details_" href="javascript:;">Delete</a></td>

                    <td></td>

                </tr>
            }



        </table>


        <div id="dialog" style="display: none">
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        $(function () {
            $("#dialog").dialog({
                autoOpen: false,
                modal: true,
                maxWidth: 600,
                maxHeight: 500,
                width: 600,
                height: 500,
                title: "View Details"
            });
            $("#prdtble .details").click(function () {
                var id = $(this).closest("tr").find("td").eq(0).html();
                $.ajax({
                    type: "POST",
                    url: "/Demo/CategoryDetails",
                    data: '{id: "' + id + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        $('#dialog').html(response);
                        $('#dialog').dialog('open');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });

            $("#prdtble .details_").click(function () {
                var id = $(this).closest("tr").find("td").eq(0).html();
                var finaldata = { "id": id };
                if (confirm('Are you sure of delete these item ?') == true) {
                    $.ajax({
                        url: "/Demo/DeleteCategory",
                        type: "POST",
                        data: JSON.stringify(finaldata),
                        dataType: "json",
                        contentType: "application/json",
                        success: function (response) {
                            alert(response);
                            location.reload();

                        },
                        error: function (e) {
                            alert("an error has occured" + e);
                        }



                    });
                }




            });

        });
    </script>


</body>
</html>

